@media (min-width: 240px) and (max-width: 800px) {
.container-fluid .first-block {
    background-image: url("src/img/bgm.jpg");
    /*background-size: 100%;*/
}
h1 {
    font-size: 20px;
}
h3 {
    font-size:14px;
}
h4 {
    font-size: 15px;
}
.container-fluid {
    font-size: 13px;
}
}

@media (min-width: 801px) and (max-width: 1499px) {
.container-fluid .first-block {
    background-image: url("src/img/bglg.jpg");
    background-size: 100%;
}
h1 {
    font-size: 25px;
}
h3 {
    font-size:22px;
}
h4 {
    font-size: 20px;
}
.container-fluid {
    font-size: 15px;
}
}

/*@media (max-width: 1500px){
.container-fluid .first-block {
    background-image: url("src/img/bglg.jpg");
    background-size: 100%;
}
h1 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
}
.container-fluid {
    font-size: 15px;
}
}*/

@media (min-width: 1500px) {
.container-fluid .first-block {
    background-image: url("src/img/bglg.jpg");
    background-size: 100%;
}
h1 {
    font-size: 35px;
}
h3 {
    font-size:27px;
}
h4 {
    font-size: 25px;
}
.container-fluid {
    font-size: 15px;
}
}

.container-fluid .first-block {
    /*background-image: url("src/img/bglg.jpg");*/
    /*background-size: 100%;*/
    color: white;
}
.btn {
    color: white;
    margin: 15px auto;
    display: block;
    font-size: 20px;
}

.p {
    margin-top: 70px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.full-description {
    background-image: url("src/img/road.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
}

.col-sm-4 {
    padding: 15px;
    margin-bottom: 50px;
}

img {
    margin: 30px auto;
    width: 75%;
    display: block;
}

.row {
    min-height: 100px;
}

input, textarea{
    display: block;
    margin: 0 auto -50px;
}

form .row {
    min-height: 50px;
}
.bg {
    background: rgba(0,0,0,0.3);
}




.container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    
}